body {
    background-color: #000;
    margin: 0;
    color: #00ff00;
                font-family: The Wild Breath of Zelda;
}


.image-container {
position: relative; /* Set position to relative for positioning */
left: 430px; /* Adjust the left position */
top: 0px; /* Adjust the top position */
}



.title {
font-size: 54px; /* Adjust the font size */
color: #006400; /* Change the text color */
text-align: center;
letter-spacing: 20px; /* Align the text to the center */
margin-bottom: 10px; /* Add space below the title */
}

.field1 {
float: left;
width: 35%; /* Adjust the width as needed */
font-size: 24px;
color: #006400;
text-align: center;
letter-spacing: 0px;
margin-bottom: 10px;
margin-top: 10px;
}

.field2 {
float: right;
width: 35%; /* Adjust the width as needed */
font-size: 24px;
color: #006400;
text-align: center;
letter-spacing: 0px;
margin-bottom: 10px;
margin-top: 10px;
}

.form1 {
float: center;
font-family: The Wild Breath of Zelda;
width: 75%; /* Adjust the width as needed */
font-size: 24px;
color: #006400;
text-align: center;
letter-spacing: 0px;
margin-bottom: 10px;
margin-top: 10px;
}

.button1 {
float: left;
width: 35%;
height: 50px; /* Adjust the width as needed */
font-size: 15px;
color: #006400;
background-color: #8B0000;
text-align: center;
letter-spacing: 0px;
margin-bottom: 10px;
margin-top: 10px;
}

.button2 {
float: right;
width: 35%;
height: 50px; /* Adjust the width as needed */
font-size: 15px;
color: #006400;
background-color: #8B0000;
text-align: center;
letter-spacing: 0px;
margin-bottom: 10px;
margin-top: 10px;
}

.footer {
display: flex;
align-items: center;
justify-content: center;
font-size: 16px; /* Adjust the font size */
color: #00ff00; /* Text color */
margin: 0; /* Remove any default margin */
}

#footer {
width: 100%; /* Set width to 100% to take up the full width of the container */
}

